
.actionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 370px;
    margin: 0 auto;
}

.serverState {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    font-size: 1em;
}

.serverState > * {
    margin-right: 10px;
}
