#graph_root {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 1.5px;
}

.node_circle {
    fill: #d62333;
    stroke: #fff;
    stroke-width: 1px;
}
