:global(body),
:global(html) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

:global(*),
:global(*:before),
:global(*:after) {
  box-sizing: inherit;
}

:global(body) {
  display: flex;
}

:global(aside) {
  display: block;
  margin: 1em;
  background: rgba(0, 0, 0, 0.1);
}

:global(main) {
  margin: 1em;
  width: 100%;
}

:global(textarea) {
  display: block;
  height: 50%;
  width: 100%;
}
