.root {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
}

.title {
    margin: 0 auto;
    color: #8a8a8a;
    font-size: 1.5em;
}

.option {
    margin-bottom: 5px;
}