.root {
    font-family: Helvetica, sans-serif;
    display: flex;
    height: 100%;
}


.root>* {
    margin-bottom: 20px;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:1;
}

.leftBar {
    width: 250px;
    border: 1px solid gray;
    padding: 5px;
    height: 100%;

}

.title {
    padding: 5px;
    border-bottom: 1px solid gray;
    margin-bottom: 5px
}

.actionButton {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
    font-size: 1em;
}

.actionButton:hover {
    background: #dbdbdb;
}


.runningFeature {
    -st-states: selected;
    background: white;
    text-align: left;
    width: 100%;
}

.runningFeature:selected {
    color: blue;
}