.root {
    -st-states: toggled;
    width: 50px;
    height: 30px;
    background: tomato;
    border-radius: 50px;
    position: relative;
    transition: 0.2s;
}

.root:toggled {
    background: yellowgreen;
}

.switch {
    -st-states: toggled;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.2s;
}
.switch:toggled {
    transform: translate(20px);
}